.container{
    width: 100%;
    margin-top: 100px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.taskContainer{
    padding: 12px;
    width: 500px;
    height: auto;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
}
.task{
    text-decoration: none;
    background-color: white;
    border-radius: var(--border-radius);
    display: flex;
    padding: 20px 10px;
    gap: 10px;
    flex-direction: column;
}
input[type="checkbox"]:checked {
   accent-color:black
}

.form button{
    border: none;
    background-color: #03045e;
    font-weight: bolder;
    color: white;
    border-radius: 10px;
    width: 60px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.form button:hover{
    box-shadow: 5px 5px var(--highlight);
}

.form{
    display: flex;
    gap: 10px;
}
.content{
    display: flex;
    gap: 10px;
}
.noTask{
    font-weight: bolder;
    text-align: center;
}
input[type="text"]{
    height: 20px;
    width: 260px;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    outline: none;
    border: 1px solid var(--highlight);
} 

.filter{
    display: flex;
    gap: 10px;
}
.filter button{
    border-radius: 10px;
    width: auto;
    
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    border: none;
}
.filter button:hover{
    box-shadow: 5px 5px var(--highlight);
}
.tosk {
    color: var(--primary);
}
.date{
    color: var(--muted-text);
}

.Delete-btn{
    border-radius: var(--border-radius);
    border: none;
    font-weight: 500;
    color: white;
    background-color: #03045e;
    cursor: pointer;
}
.Delete-btn:hover{
   background-color: #ff4d4d;
}
.all{
    background-color: #03045e;
    color: white;
    font-weight: bolder;
    padding: 6px 10px;
}
.pending{
    background-color: var(--highlight);
}
.complete{
    background-color: var(--backround);
}
.sys{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 160px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px 76px;
}

